<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |msg_type, msg| %>
      <%= content_tag(:div, msg) %>
    <% end %>
    <% if current_user %>
      <h4><%= current_user.name %> est connectee</h4>
      <%= link_to "Se Deconnecter", logout_path, method: :delete %>
      <%= link_to "Creer un article", new_post_path %>
    <% else %>
      <%= link_to "S'Identifier", login_path %>
      <%= link_to "Creer un compte", signup_path %>
    <% end %>
    <%= link_to "Tous les articles", posts_path %>
    
    <%= yield %>
  </body>
</html>
